.receipt {
  &__area {
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    padding: 0 0 58px 0;
    //@include media('<1120px') {
    //  display: flex;
    //  flex-direction: column;
    //  padding: 20px;
    //  border-top-left-radius: 0;
    //  border-top-right-radius: 0;
    //}
    &:after {
      content: '';
      position: absolute;
      bottom: -9px;
      width: 100%;
      height: 9px;
      //background: url("./images/receipt_treeangle.png") repeat-x;
      //background-position: center bottom;
      //@include media('<1120px') {
      //  display: none;
      //}
    }
    &--header {
      background: #ee5a22;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 3px;
      height: 93px;
      line-height: 93px;
      position: relative;
      z-index: 1;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 0 0 0 33px;
      //@include media('<1120px') {
      //  border-top-left-radius: 0;
      //  border-top-right-radius: 0;
      //  height: 55px;
      //  line-height: 55px;
      //  font-size: 20px;
      //  font-weight: 700;
      //  margin: 15px 0 0 0;
      //}
    }
    .icon-reseipt {
      margin: 0 12px 0 0;
      font-size: 35px;
      position: relative;
      left: 2px;
      top: 6px;
    }
  }
}
.stamp {
  &__custom {
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    //@include media('<1120px') {
    //  height: 40px;
    //}
    &:before {
      position: absolute;
      top: -22px;
      right: 5px;
      content: '';
      //background: url("./images/stamp.png") no-repeat;
      //background-size: 100% 100%;
      //background-position: 100% 100%;
      width: 194px;
      height: 194px;
      //@include media('<1120px') {
      //  display: none;
      //}
    }
    .startOver {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 15px;
      //@include media('<1120px') {
      //  display: none;
      //}
    }
  }
}
.big__total-area {
  font-size: 56px;
  font-weight: 900;
  color: #ee5a22;
  margin: 6px 0 -6px 0;
  sup {
    font-size: 52%;
    top: -.5em;
  }
}


.about_club {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  //@include media('<1120px') {
  //  display: none !important;
  //}
  .logo {
    width: 166px;
    height: 166px;
    background: #ccc;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 18px 0;
    position: relative;
    img {
      max-width: initial;
      height: initial;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }
  .about_club-title {
    color: #26232b;
    font-size: 22px;
    margin: 0 0 11px 0;
  }
  .address  {
    color: #0e041f;
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 13px 0;
    p {
      margin: 0 0 4px 0;
    }
  }
}

.ttotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  //@include media('<1120px') {
  //  flex-direction: row;
  //}
  .big__total-area {
    font-size: 34px;
    margin: -16px 0 27px 0;
    //@include media('<1120px') {
    //  font-size: 28px;
    //  margin: 0;
    //}
    sup {
      font-size: 52%;
      top: -0.7em;
    }
  }
  .subtotalTitle {
    align-self: flex-start;
    top: 0;
  }
}
.subtotalArea {
  color: #26232b;
}
.subtotalTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  display: block;
  padding: 0 30px 9px 30px;
  align-self: flex-start;
  top: 30px;
  position: relative;
  //@include media('<1120px') {
  //  top: 5px;
  //  padding: 7px 10px 9px 30px;
  //}
}
.subtotalList {
  margin: 0 0 22px 0;
  padding: 0;
  font-size: 14px;
  .subtotalListItem {
    height: 53px;
    padding: 0 30px;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b9b6bd;
    .subtotalItemPrice {
      font-size: 18px;
      padding: 3px 0 0 0;
    }
  }
  .showit {
    display: flex !important;
  }
}
.SubtotalIconColor {
  color: #b9b6bd;
  width: 47px;
  display: inline-block;
  font-size: 20px;
  //@include media('<1120px') {
  //  display: none;
  //}
}
.borderDotted {
  width: 85%;
  border-top: 2px dotted #ee5a22;
  margin: 0 auto 48px auto;
  //@include media('<1120px') {
  //  display: none;
  //}
}
.share {
  padding: 21px 0 29px 64px;
  font-size: 14px;
  color: #828181;
  //@include media('<1120px'){
  //  padding: 21px 0 29px 24px;
  //}
  span {
    padding: 0 24px 0 0;
  }
  .fa {
    color: #ee5a22;
    font-size: 20px;
    margin: 0 24px 0 0;
  }
}

//.expandBox {
//  .ttotal {
//    @include media('<1120px') {
//      flex-direction: column;
//    }
//  }
//  .big__total-area {
//    @include media('<1120px') {
//      display: none;
//    }
//  }
//}

.openTrigger {
  display: none;
  //@include media('<1120px') {
  //  width: 35px;
  //  height: 35px;
  //  background: #f85b30;
  //  border-radius: 50%;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  color: #fff;
  //  position: absolute;
  //  left: 15px;
  //  top: -17px;
  //}
}
//.expandBox {
//  @include media('<1120px') {
//    height: 0;
//    overflow: hidden;
//    transition: all 0.1s linear;
//    visibility: hidden;
//    opacity: 0;
//  }
//}
.expandBoxActive {
  height: auto;
  overflow: initial;
  visibility: visible;
  opacity: 1;
}
.mobView {
  display: none;
  //@include media('<1120px') {
  //  background: #fff;
  //  display: flex;
  //  justify-content: space-between;
  //  .subtotalTitle {
  //    @include media('<1120px') {
  //      top: 10px;
  //      padding: 0 10px 9px 0;
  //    }
  //  }
  //}
  .clubTitle {
    font-size: 13px;
    margin: 0 0 0 4px;
  }
}
.startOver {
  font-size: 13px;
  font-weight: 700;
  color: #f85b30;
  text-decoration: none;
  span {
    vertical-align: middle;
  }
  &:before {
    content: '';
    //background: url("./images/start_over.png") no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
  }
}